:root{
--mainOrange: #ec6f20;
}
body{
    font-family: 'Noto Serif', serif!important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

/* General */
.mainOrange-bg{
    background-color: var(--mainOrange) !important;
}