@import 'base.css';
#topBarInfos{
    color: white !important;
    background: linear-gradient(0deg, rgba(236, 111, 32, 0.75), rgba(236, 111, 32, 0.75)), url("/data/images/plat-delicieux1.jpg"); display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Carroussel vitrine */
.carrousselVitrine {
    background: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}
  
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}