@import 'base.css';
#topBarInfos{
    color: white !important;
    background: linear-gradient(0deg, rgba(236, 111, 32, 0.75), rgba(236, 111, 32, 0.75)), url("/data/images/plat-delicieux1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Carroussel vitrine */
.carrousselVitrine {
    
}

.carrousselVitrine .item {
    width: 100%;
    height: 536px;
    margin-right: 10px;
    background: var(--mainColor);
    counter-increment: item;
}

.item:before {
    display: block;
    text-align: center;
    content: counter(item);
    line-height: 536px;
    font-size: 80px;
    color: white;
}

@media (min-width: 576px) {
    .carrousselVitrine .item {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .carrousselVitrine .item {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .carrousselVitrine .item {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .carrousselVitrine .item {
        max-width: 1140px;
    }
}

/* newsletter */
.newsletter{
    background-color: var(--lightMainColor);
    background-image: url("/data/images/illustration-fruits.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    background-attachment: scroll;
}

/* Blocs de construction du site */
.block-titres{
    border-bottom: 3px solid var(--color-border-grey);
    padding: 15px 0;
    padding-top: 0;
}
.block-titres.orange{
    border-bottom: 3px solid var(--mainColor);
}

/* Cartes des recettes */
.carte-recette{
    display: flex;
    margin-top: 3rem;
}
.carte-recette-img{
    width: 160px;
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carte-recette-infos{
    margin-left: 1rem;
}

/*footer*/
footer{
    position: relative;
    bottom: 0;
    background-color: var(--lightMainColor);
    padding: 3rem 0;
}
footer a{
    color: var(--mainColor)!important;
}

/* Barre de navigation utilisateur connecté */
.memberNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 15px;
    background-color: var(--mainColor);
    color:white!important;
}
.memberNavbar .userProfilPic{
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Editeur de recette */
.col-editor-content {
	flex: 0 0 calc(100% - 280px);
    max-width: calc(100% - 280px);
}
.col-editor-sidebar {
    flex: 0 0 280px;
    max-width: 280px;
}

.vbcard .card-header, .vbcard .card-body{
	padding: .75rem !important;
}
.vbcard .editor-headerPic{
	width: 100%;
	height: 126px;
	background-color: var(--lightMainColor);
	background-size: cover!important;
    background-repeat: no-repeat!important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.vbcard .editor-headerPic i{
	font-size: 2.5em;
}
.rowSubText{
	font-size: 0.8em;
}